<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42207824215-9kfjfm22ikjs8uv5btq655i2bfcapo0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42207824215-9kfjfm22ikjs8uv5btq655i2bfcapo0a</string>
	<key>API_KEY</key>
	<string>AIzaSyApITxBMWAbmmbWuHUSmLEtmwa3oGbQDyg</string>
	<key>GCM_SENDER_ID</key>
	<string>42207824215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>immo-scanner</string>
	<key>STORAGE_BUCKET</key>
	<string>immo-scanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42207824215:ios:daab1ddce84ae29c5ed612</string>
</dict>
</plist>